# WARNING: Make sure the project-folder-name is unique on your server!
# You should disable port-exposure in production!

# Using main-caddy-proxy: https://github.com/jonaaix/main-caddy-proxy

services:
    php:
        container_name: ${APP_NAME}_php
        image: ghcr.io/jonaaix/laravel-aio:1.3-php8.4-fpm
        stop_grace_period: 60s
        volumes:
            - ./:/app:cached
        environment:
            DEPLOYMENT_ID: ${DEPLOYMENT_ID}
            ENABLE_HORIZON_WORKER: true
            PROD_RUN_ARTISAN_MIGRATE: true
            PROD_RUN_ARTISAN_DBSEED: true
            ENABLE_MAINTENANCE_BOOT: true
        labels:
            caddy: ${LARAVEL_DOMAIN}
            caddy.reverse_proxy: "{{upstreams 8000}}"
        depends_on:
            - mariadb
            - redis
        restart: unless-stopped
        networks:
            - default
            - main-proxy

    mariadb:
        container_name: ${APP_NAME}_mariadb
        image: mariadb:lts
        ports:
            - "3306:3306" # Required for Metabase access
        command:
            - '--character-set-server=utf8mb4'
            - '--collation-server=utf8mb4_unicode_ci'
            - '--skip-name-resolve' # Disable DNS lookups (not needed in Docker, improves performance)
        volumes:
            - db_volume:/var/lib/mysql/:delegated
        cap_add:
            - SYS_NICE # Allow the container to adjust process priority (optional for performance tuning)
        environment:
            MARIADB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
            MARIADB_USER: ${DB_USERNAME}
            MARIADB_PASSWORD: ${DB_PASSWORD}
            MARIADB_DATABASE: ${DB_DATABASE}
        restart: unless-stopped
        networks:
            - default

    redis:
        container_name: ${APP_NAME}_redis
        image: redis:8-alpine
        volumes:
            - redis_volume:/data
        command: [ "redis-server", "--requirepass", "${REDIS_PASSWORD}" ]
        restart: unless-stopped
        networks:
            - default

    pma:
        container_name: ${APP_NAME}_phpmyadmin
        image: phpmyadmin:latest
        environment:
            PMA_HOST: mariadb
            PMA_PORT: 3306
            APACHE_PORT: 8080
            UPLOAD_LIMIT: 1G
        labels:
            caddy: ${PMA_DOMAIN}
            caddy.reverse_proxy: "{{upstreams 8080}}"
        restart: unless-stopped
        depends_on:
            - mariadb
        networks:
            - default
            - main-proxy


volumes:
    db_volume:
    redis_volume:


networks:
    main-proxy:
        external: true
